{% extends 'base.html' %}

{% load App_extras %}
{% load static %}
{% load i18n %}

{% block page %}
<div class="pusher">
    <div class="ui container">
        <div class="ui divider"></div>
        {% include 'util_back.html' %}
        {% csrf_token %}
        <h3 class="ui dividing header">{% translate "Composer Information" %}</h3>
        <div class="ui raised segment">
            <div class="ui items">
                {% for show_composer in AllComposers %}
                <div class="item">
                    <div class="image">
                        <img class="ui medium circular image" src="{% static 'images\avatar2\elyse.png' %}">
                    </div>
                    <div class="content">
                        <a class="header">{{ show_composer.composer.get_name }}</a>
                        <p>{{ show_composer.composer.get_lifetime }}</p>
                        <div class="meta">
                            <span>{% translate "Description" %} : </span>
                        </div>
                        <div class="description">
                            <p>{{ show_composer.composer.get_introduction }}</p>
                        </div>
                        <div class="extra">
                        <div class="segment">
                        {% if user.get_verification_status == True %}
                        <a href="{% url 'composer_change' id=show_composer.composer.get_id %}" class="ui left floated left labeled icon button">
                            <i class="pencil alternate icon"></i>
                            {% translate "Change Composer Info" %}
                        </a>
                        {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
                <div class="ui horizontal divider">
                    {{ show_composer.recordings|length }}
                    {% translate "Recordings" %}
                </div>
                <div class="ui three doubling stackable link cards">
                    {% for show_recording in show_composer.recordings %}
                    <a class="ui fluid raised link card" href="{% url 'recording_info' id=show_recording.get_id %}">
                        <div class="content">
                            <div class="header">{{ show_recording.get_title }}</div>
                            <div class="meta">
                                {% translate "Uploaded by" %}: {{ show_recording.get_username }}
                                </br>
                                {% translate "Composer" %} : {{ show_recording.get_composer }}
                            </div>
                            <div class="description">
                                {{ show_recording.get_description }}
                            </div>
                        </div>
                        <div class="extra content">
                            {% translate "Uploaded at" %} {{ show_recording.get_upload_date }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
                ;
        })
        ;
</script>
{% endblock %}