{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block page %}
<div class="pusher">
    <div class="ui divider"></div>
    <div class="ui container">
        {% include 'util_back.html' %}
        <h3>{% translate "Password Reset" %}</h3>
        <p>
            {% translate "Forgotten your password?" %}
        </p>
        <p>
            {% translate "Enter your email address below, and we'll email instructions for setting a new one." %}
        </p>
        <form class="ui form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="ui button" type="submit">{% translate "Submit" %}</button>
          </form>
    </div>
</div>
{% endblock %}