{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block page %}
<div class="pusher">
    <div class="ui divider"></div>
    <div class="ui container">
        <h3>{% translate "Password reset complete" %}</h3>
        <p>
            {% translate "Your password has been set. You may go ahead and log in now." %}
        </p>
        <div class="segment">
            <a href="{% url 'login' %}" class="ui left labeled icon button">
                <i class="left arrow icon"></i>
                {% translate "Login" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}