{% extends 'base.html' %}

{% load App_extras %}
{% load static %}
{% load i18n %}

{% block page %}
<div class="pusher">
    <div class="ui container">
        <div class="ui divider"></div>
        {% include 'util_back.html' %}
        {% csrf_token %}
        <h3 class="ui dividing header">{% translate "Recording Information" %}</h3>
        <div class="ui raised segment">
            <div class="ui items">
                {% for show_recording in RecordingList %}
                <div class="item">
                    <div class="content">
                        <div class="header">{{ show_recording.get_title }}</div>
                        <div class="meta">
                        <p>
                            <a class="ui link" href="{% url 'composer_info' id=show_recording.Composer.get_id %}">
                                {% translate "Composer" %}: {{ show_recording.get_composer }}
                            </a>
                        </p>
                        <p>
                            <a class="ui link" href="{% url 'user_info' username=show_recording.UploadUser.get_username %}">
                                {% translate "Uploaded by" %}: {{ show_recording.get_username }}
                            </a>
                        </p>
                        </br>
                        </div>
                        <div class="description">
                            {{ show_recording.get_description }}
                        </div>
                        <div class="extra">
                            {% translate "Uploaded at" %} {{ show_recording.get_upload_date }}
                            <div id="play">
                                <audio src="{{ show_recording.get_file_url }}" controls="controls" style="width: 400px;">
                                    {% translate "Your browser does not support the audio element." %}
                                </audio>
                            </div>
                            {% if user.get_username == show_recording.get_user %}
                            <div class="segment">
                                <a href="{% url 'recording_change' id=show_recording.get_id %}" class="ui left floated left labeled icon button">
                                    <i class="pencil alternate icon"></i>
                                    {% translate "Change Recording Info" %}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
                ;
        })
        ;
</script>
{% endblock %}